.custom-navbar{
    border: none; 
    background-color: white; 
    color: black; 
}

.navbar .nav > li > a, .navbar-default .navbar-brand{
    color: black !important; // I dont know why, but its being annoying. 
    background-color: white !important; 
    font-size: 1.1em
}
