@charset "utf-8";
@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar.css.scss";
@import "footer.css.scss";

*{
  color: black; 
  font-family: 'Inconsolata', monospace;
}

body {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 60px;
}