@charset "utf-8";
@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "about.css.scss";
@import "artists.css.scss";
@import "navbar.css.scss";

*{
  color: black; 
  font-family: 'Inconsolata', monospace;
}

body {
  text-align: center;
  font-size: 1.5em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

.welcome > h1 {
  font-size: 1.8em;
  font-weight: 400;
}

.welcome > p{
  color: gray; 
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
  padding-bottom: 14.5em;
}

.media-glyph{
  width: 2.75em;
  height: 2.75em;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
