%nav.navbar.navbar-default.navbar-fixed-bottom.footer
	.container
		%ul.nav.navbar-nav
			%li
				%a.navbar-text{href: "https://twitter.com/pblcrcds"}
					%i.fa.fa-twitter
					@pblcrcds
			%li
				%a.navbar-text{href: "mailto:pblcrcds@gmail.com"}
					%i.fa.fa-envelope-o
					pblcrcds@gmail.com