%footer.footer
	%a.media-link{href: "https://twitter.com/pblcrcds"}
		=image_tag('twitter-solid.png', {class: 'media-glyph'})
		@pblcrcds
	%a.media-link{href: "pblcrcds@gmail.com"}
		%span.glyphicon.glyphicon-envelope
		pblcrcds@gmail.com