%footer
	.container
		%p
			Pardon our appearance, this website is currently under construction.
		%a.footer-media-link{href: "https://twitter.com/pblcrcds"}
			=image_tag('twitter-solid.png', {class: 'media-glyph'})
			@pblcrcds