.welcome-container
  .welcome
    .logo
      = image_tag "logo.png"
    %h1
      = t("welcome-tag-line", default: "same thing, different people.")
    %p
      = t("welcome-sub-tag-line", default: "don't even try.'")