#artists
    %h1
        Artists.
    %ul
        %li
            %ul
                %li
                    Name: Corn man 
                %li
                    Bio: I eat corn all day everyday
        %li
            %ul
                %li
                    Name: Corn man
                %li
                    Bio: I eat corn all day everyday