#artists {
  background-color: white;
  padding: 9em;
  padding-top: 6em;
  color: black;
  font-size: 1.1em;
  font-family: 'Times New Roman', Times, serif; }

#artists > h1 {
  margin-bottom: 3em; }
